* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: plum;
}
#wrapper {
  width: 50%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#quizDiv, #scoreDiv {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}
#scoreDiv {
  display: none;
}
.timer {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f00;
  color: #fff;
  font-size: 1.5rem;
}
.question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.option {
  width: 46%;
  padding: 0.5rem;
  border: 1px solid #a7eeee;
  border-radius: 20px;
  background-color: azure;
  text-align: center;
  transition: all 400ms;
  cursor: pointer;
}
.option:hover {
  transform: scale(1.1);
  background-color: green;
  color: #fff;
}
button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid azure;
  border-radius: 20px;
  background-color: azure;
  text-align: center;
  transition: all 400ms;
  cursor: pointer;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.4);
}
button:hover {
  background-color: rgb(133, 238, 133);
  border-radius: 22px;
  box-shadow: 5px rgba(12, 12, 12, 0.4);
  transform: scale(1.1);
  border: 2px solid rgb(94, 211, 110);
}
footer {
  margin-top: 2rem;
}
footer p {
  font-size: 0.875rem;
  color: #333;
}
