* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {

  background-color: rgb(128, 2, 225);

}
#wrapper{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 87px;

}
#quizDiv,
#scoreDiv {
  width: 50%;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 20px;

  background-color: purple;
  position: relative;
}
#scoreDiv {
  display: none;
}
.timer {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f00;
  color: #fff;
  font-size: 1.5rem;
}
.question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.option {
  width: 46%;
  padding: 0.5rem;
  border: 1px solid #a7eeee;
  border-radius: 20px;
  background-color: azure;
  text-align: center;
  transition: all 400ms;
  cursor: pointer;
}
.option:hover {
  transform: scale(1.1);
  background-color: rgb(234, 24, 234);
  color: #fff;
}

button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid azure;
  border-radius: 20px;
  background-color: azure;
  text-align: center;
  transition: all 400ms;
  cursor: pointer;
  box-shadow: 1px 2px 4px 2px rgba(145, 16, 250, 0.4);
}
button:hover{
  background-color:  rgb(234, 24, 234);
  color: black;
}

.footer{
  background-color: rgb(62, 2, 79);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
